body {
  background: linear-gradient(
    to top,
    #f7f7f7,
    #fefefe
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
}
/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
} */
